  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/mystyle.css">
  <ul>
    <li><a {% if page.title="index" %}class="active"{% endif %} href="{{site.baseurl}}/index/">Home</a></li>
    <li><a href="/snippets/">Snippets</a></li>
    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Dropdown</a>
      <div class="dropdown-content">
        <a href="{{site.baseurl}}/page3A/">Page 3A</a>
        <a href="{{site.baseurl}}/page3B/">Page 3B</a>
        <a href="{{site.baseurl}}/page3C/">Page 3C</a>
      </div>
    </li>
    <li><a href="{{site.baseurl}}/about-us/">About</a></li>
  </ul><br/><hr/>
